body {
	box-sizing: border-box;
}
table {
	width:100%;
}

.container {
	width: 100%;
	max-width: 1000px;
}
#fretboard {
	width: 100%;
	margin-top: 40px;
}

.badge {
	height: 30px;
	width: 30px;
	line-height: 30px;
	padding: 0;
	border-radius: 30px;
	overflow: visable;
}

/*#fretboard table tr {
	border-top: 1px solid blue;
}*/

#fretboard table tr td {
	text-align:center;
	padding:0;
	background: #FDFDFD url('frets.svg') repeat-x right center;
}

#fretboard table td:first-child {
	background: #e1e1e1;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	padding: 0 10px;
}

#fretboard table tr.fret td, #fretboard table tr.fret td span {
	background: none !important;
	font-weight: bold;
	font-size: 10px !important;
}


#fretboard table tr td span {
	text-align: center;
	padding: 4px 0;
	display:block;
	width:100%;
	height:100%;
}

td * {
	font-size:12px !important;
}

/*#fretboard table tr td .dot1 {
	background: url('dot1.png') no-repeat center bottom;
}
#fretboard table tr td .dot2 {
	background: url('dot2.png') no-repeat center top;*/
}

#chords td {
	text-align:center;
	font-weight:bold;
	font-size:1.4em;
	font-size:1.2rem;
}
